[project]
	description = OSL OpenStack cookbook
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tony Breeds (tbreeds)
[access "refs/for/refs/*"]
	read = group user/Tony Breeds (tbreeds)
	push = group user/Tony Breeds (tbreeds)
	label-Code-Review = -2..+2 group user/Tony Breeds (tbreeds)
	label-Verified = -1..+1 group user/Tony Breeds (tbreeds)
	rebase = group user/Tony Breeds (tbreeds)
	removeReviewer = group user/Tony Breeds (tbreeds)
	submit = group user/Tony Breeds (tbreeds)
[access "refs/heads/*"]
	read = group user/Tony Breeds (tbreeds)
	create = group user/Tony Breeds (tbreeds)
	push = +force group user/Tony Breeds (tbreeds)
	pushMerge = group user/Tony Breeds (tbreeds)
[access "refs/tags/*"]
	push = +force group user/Tony Breeds (tbreeds)
	pushTag = group user/Tony Breeds (tbreeds)
	pushSignedTag = group user/Tony Breeds (tbreeds)
